:host /deep/ .grid .tick line {
  stroke: lightgrey;
  opacity: 0.7;
  shape-rendering: crispEdges;
}

//This is the border of the graph
:host /deep/ .grid path {
  stroke-width: 1;
  stroke: black;
}

:host /deep/ .robot {
    fill : 	#DEB887;
}
