<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-target="#navbarSupportedContent"
           aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  <a class="navbar-brand" href="#">Junk Robot Simulator</a>

  <div class="" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="tutorials">Tutorials</a>
      </li>

      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-secondary" id="dropdownMenu1" ngbDropdownToggle>Mazes</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <button class="dropdown-item" routerLink="/maze/1">Maze 1</button>
          <button class="dropdown-item" routerLink="/maze/2">Maze 2</button>
          <button class="dropdown-item" routerLink="/maze/3">Maze 3</button>
          <button class="dropdown-item" routerLink="/maze/4">Maze 4</button>
          <button class="dropdown-item" routerLink="/maze/5">Maze 5</button>
          <button class="dropdown-item" routerLink="/maze/6">Maze 6</button>
          <button class="dropdown-item" routerLink="/maze/7">Maze 7</button>
        </div>
      </div>
    </ul>
  </div>
</nav>
