<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Junk Robot Simulator</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Tutorials</a>
      </li>

      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-secondary" id="dropdownMenu1" ngbDropdownToggle>Mazes</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <button class="dropdown-item" (click)="maze1();">Maze 1</button>
          <button class="dropdown-item">Maze 2</button>
          <button class="dropdown-item">Maze 3</button>
          <button class="dropdown-item">Maze 4</button>
          <button class="dropdown-item">Maze 5</button>
          <button class="dropdown-item">Maze 6</button>
          <button class="dropdown-item">Maze 7</button>
        </div>
      </div>
    </ul>
  </div>
</nav>
