
<div class="container">
  <div  [hidden]="submitted">
    <h1>Robot Simulator</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <!-- <label for="d3-graph">D3Graph</label> -->
      <d3-graph></d3-graph>
      <button type="button" class="btn btn-default" (click)="testFunc(codemirror.value);"> Run </button>
      <button type="button" class="btn btn-default" (click)="stopRobot();"> Stop Robot </button>
      <button type="button" class="btn btn-default" (click)="reset();"> Reset </button>
      <button type="button" class="btn btn-default" (click)="test();"> Test </button>
      <button type="button" class="btn btn-default" (click)="turnLeft();"> Turn left </button>
      <button type="button" class="btn btn-default" (click)="turnRight();"> Turn right </button>
      <button type="button" class="btn btn-default" (click)="moveForward();"> Move forward </button>
      <button type="button" class="btn btn-default" (click)="moveBackward();"> Move Backward </button>

      <div>
        <label for="codeMirror">Code Mirror</label>
        <br>
          <codemirror #codemirror
           [(ngModel)]="code"
           [config]="config"
           id="codemirror"
           name="codemirror"
           >
          </codemirror>
          <br>
          <!-- <pre>{{code}}</pre> -->
      </div>

      <button type="submit" class="btn btn-default" [disabled]="!heroForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="resetForm(); heroForm.reset()">Clear</button>
      <button type="button" class="btn btn-default" (click)="parseCodeInput(codemirror.value)">Parse</button>
      <button type="button" class="btn btn-default" (click)="testFunc();">Test Function</button>
      <br>
      <!-- <pre>{{log}}</pre> -->
    </form>
  </div>

</div>
