<div class="container">
  <h1>Robot Simulator</h1>
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm" id="mainForm">
    <!-- <label for="d3-graph">D3Graph</label> -->
    <div class="row">
      <div class="col d3-component">
        <d3-graph></d3-graph>
      </div>
    </div>

    <div class="row ml-0 mb-3">
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="moveForward();"> Move forward </button>
        <button type="button" class="btn btn-primary" (click)="moveBackward();"> Move Backward </button>
        <button type="button" class="btn btn-primary" (click)="turnLeft();"> Turn left </button>
        <button type="button" class="btn btn-primary" (click)="turnRight();"> Turn right </button>
      </div>
    </div>

    <div class="row ml-0 mb-3">
      <div class="col">
        <button type="button" class="btn btn-danger" (click)="stopRobot();"> Stop Robot </button>
        <button type="button" class="btn btn-warning" (click)="reset();"> Reset Robot </button>
      </div>
    </div>



    <div class="row ml-0 mb-2">
      <div class="col">
        <button type="button" class="btn btn-success" (click)="parseCodeInput(codemirror.value)">Parse and run</button>
        <button type="button" class="btn btn-danger" (click)="resetForm(); heroForm.reset()">Clear Code</button>
      </div>
    </div>
    <div class="col mb-4 code-mirror">
      <codemirror #codemirror [(ngModel)]="code" [config]="config" id="codemirror" name="codemirror">
      </codemirror>
    </div>
  </form>
</div>
